.section {}

.section .section-content {
  flex-wrap: wrap;
}

.section .section-content .section-card {
  width: 265px;
  padding: 10px;
  cursor: pointer;
  display: inline-flex;
}

.section .section-content .section-card.selected {
  background-color: blue;
}